 body{
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
h1 {
  margin-bottom: 25px;
  text-align: center;
}
.medi-con{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.media{
   text-align: left;
   width: 30%;
   color: rgb(233, 224, 224);
   font-size: 1.2rem;
   font-weight: 100;
}
.blue{
  background-color: blue;
}
#p1,#p2,#p3{
  text-align: left;
}
.yellow{
  
  background-color: yellow;
  color: teal;
}
.red{
  background-color: red;
}
span{
  float: right;
  border: 3px solid black;
  width: 150px;
  text-align: center;
  height: 27px;
  background-color: rgb(199, 54, 54);
  color: white;
}
.media #p1,#p2,#p3{
  padding: 20px;
}
/********MEDIA QUERIES*********/
@media screen and (max-width: 991px){
  .medi-con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }
  .media{
    width: 100%;  
  }
  .red{
    grid-column: 1 / -1;
  }
}
@media screen and (max-width: 530px){
   .medi-con{
     display: grid;
     grid-template-columns: 1fr;
     grid-gap: 20px;
   }
   .media{
     width: 100%;
   }
}
/********WE ARE STYLING THE DIV ***********/

.media-container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 20px;
}

#p1 {
  text-align: left;
  vertical-align: top;
}
#p2 {
  text-align: left;
  vertical-align: top;
  margin-top: 10px;
}

#p3 {
  
  text-align: left;
  vertical-align: top;
}
.media{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: large;
  
  box-sizing: border-box;
  font-weight: 100;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: all 0.4s ease-in-out;
  min-height: 250px;
}
.blue{
  background-color: blue;
  ma
}
.yellow{
  background-color: rgb(223, 223, 109);
}
.red{
  background-color: red;
}
span{
  float: right;
  
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 2px;
  width: 100px;
  height: 30px;
}
h4{
  
}

@media screen and (max-width: 991px){
  .media-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
   #p3{
     text-align: center;
     vertical-align: top;
   }
   .media #p3{
     max-width: 100%;
   }
  
}


/********** Large devices only **********/

@media (min-width: 1200px) {
  #p1 {
    width: 80%;
  }
  #p2 {
    width: 150px;
    height: 150px;
  }
  #p3 {
    width: 100px;
    height: 100px;
  }
}
*/

/********** Medium devices only **********/
/*
@media (min-width: 992px) and (max-width: 1199px) {
  #p1 {
    width: 50%;
  }
  #p2 {
    width: 100px;
    height: 100px;
  }
  
  #p3 {
    width: 100px;
    height: 100px;
  }
  body {
    background-color: white;
  }
}

