 body{
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
h1 {
  margin-bottom: 25px;
  text-align: center;
}
.medi-con{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.media{
   text-align: left;
   width: 30%;
   color: rgb(233, 224, 224);
   font-size: 1.2rem;
   font-weight: 100;
}
.blue{
  background-color: blue;
}
#p1,#p2,#p3{
  text-align: left;
}
.yellow{
  
  background-color: yellow;
  color: teal;
}
.red{
  background-color: red;
}
span{
  float: right;
  border: 3px solid black;
  width: 150px;
  text-align: center;
  height: 27px;
  background-color: rgb(199, 54, 54);
  color: white;
}
.media #p1,#p2,#p3{
  padding: 20px;
}
/********MEDIA QUERIES*********/
@media screen and (max-width: 991px){
  .medi-con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }
  .media{
    width: 100%;  
  }
  .red{
    grid-column: 1 / -1;
  }
}
@media screen and (max-width: 530px){
   .medi-con{
     display: grid;
     grid-template-columns: 1fr;
     grid-gap: 20px;
   }
   .media{
     width: 100%;
   }
}

